{% extends 'support/base.html' %}

{% block content %}

    <div class="about-section">
  <h2>{{title}}</h2>
  <p>We are the first in the market</p>
  <p>.</p>
</div>

<h2 style="text-align:center">Our Сredo</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/599/599224.png" alt="Jane" style="width:100%">
      <div class="container">
        <h2>What is our goal?
        </h2>

        <p>Help students find everything they need</p>


      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://cdn-icons-png.flaticon.com/512/3937/3937100.png" alt="Mike" style="width:100%">
      <div class="container">
        <h2>
We are new on the market</h2>

        <p>There is no service that is similar to us</p>


      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="https://www.iconpacks.net/icons/2/free-chat-support-icon-1721-thumb.png" alt="John" style="width:100%">
      <div class="container">
        <h2>How will our help work?</h2>

        <p>
  Subscription, and information about everything</p>


      </div>
    </div>
  </div>
</div>

{% endblock %}