{% extends 'support/base.html' %}


{% block content %}
  <h1>{{title}}</h1>

<form method="post">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
{% for f in form %}

{{ f }}
    <div class="form-error">{{ f.errors }}</div>
{% endfor %}
<a href="https://github.com/Lovilek/DjangoProject" class="link"><img src="https://img.icons8.com/nolan/512/github.png" alt="Git" class="link-img"></a>
<a href="https://www.instagram.com/" class="link"><img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Insta" class="link-img"></a>
<a href="https://www.google.com/intl/ru/gmail/about/" class="link"><img src="https://img.icons8.com/fluency/512/apple-mail.png" alt="Pochta" class="link-img"></a>

  <input type="submit" value="SUBMIT"/>
</form>



{% endblock %}


